

<html>
    
    <body>
        <h2>Cadastro de Cor</h2>
        <form action="/cadastrar-cor" method="POST">
        <div>
            <label for="cor">Cor:</label>
            <input type="text" id="cor" name="cor" required>
        </div>
        <button type="submit">Cadastrar Cor</button>
        </form>
       
    </body>
    
</html>

